#
.gitignore
# https://external-preview.redd.it/f3Zuz0f7M3oYfWGKHYemJW9KZeUrUWshuwvQM_g8q7c.png?auto=webp&s=79a42dd9d4dc236eaec45ba654123e79736ae0c1

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cs
